@import url("https://use.typekit.net/efa7ivj.css");

$cursiveFont: 'dream-big-wide', cursive;
$sansSerifFont: 'arboria', sans-serif;
$cream: #FCFBF4;
$beige: #9F8C76;
$darkBeige: rgba(78,70,60,1);
$lightBeige: #dfb586;
$deepBlue: rgba(0,38,62,1);
$forestGreen: rgba(0,51,20,1);

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

header {
    height: 50em;
    width: 100%;
    background-color: $forestGreen;
    
    .nav-area {
        @include flex(row, space-between, center);
        height: 100%;
        width: 100%;
        margin: 0 15px;

        #logo {
            height: 90%;
            width: auto;
        }
    }
}